@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
}

body {
  background-color: #222831;
}

a {
  color: black;
  text-decoration: none;
}

.strike {
  color: black;
}

.title {
  color: white;
  padding: 20px;
}

.tophead {
  border-bottom-left-radius: 20px;
  padding: 35px;
  background-color: #ffd369;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 2em;
}

#cart-icon {
  font-size: 2em;
}

.laptop,
.mobile {
  margin: auto;
  /* background-color: red; */
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  border-radius: 30px;
  display: inline-block;
  padding: 10px;
  background-color: #eeeeee;
  margin: 10px;
}

.item:hover {
  border: 4px solid #ffd369;
  transition: border-width 200ms linear;
}

.item img {
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

.add-cart {
  margin: 10px 0;
  background-color: #ffd369;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.add-cart:hover {
  background-color: #eb596e;
}

.end-of {
  text-decoration: none;
  margin: 30px auto 0 auto;
  width: 90vw;
}

.end {
  padding: 10px;
  background-color: #ffd369;
  text-align: center;
  align-items: center;
}

.total {
  background-color: #e4be63;
  border-radius: 20%;
  padding: 2px;
}

.item-count {
  display: none;
}

.body_section {
  padding: 10%;
  text-align: center;
}

.form_input {
  margin: 3.5px;
  padding: 15px;
  margin: 20;
  border-radius: 12px;
  height: 40px;
  width: 300px;
}

@media (min-width: 350px) {
  .item img {
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 500px) {
  .item img {
    height: 300px;
    width: 300px;
  }
}

@media (min-width: 1650px) {
  .item img {
    height: 380px;
    width: 380px;
  }
}
